
:root {
  --dark-primary:#1b1f24;
  --primary:#12bdff;
}



* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

header {
  background-color:var(--dark-primary);
  padding:20px;
  color: #fff;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: #fff;
  text-decoration: none;

}

/* headers buttons  */

header button {
  padding: 10px 20px;
  font-weight: bold;
  background-color: var(--dark-primary);
  border: 1px solid var(--primary);
  color:var(--primary);
  border-radius: 5px;
  
}

header  .logo {
  font-weight: bold;
  color: var(--primary);
  letter-spacing: 2px;
  font-style: italic;
 


}







ul li a:hover {
  color:var(--primary)
}


header button:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
}

/* logo */

