
:root {
  --dark-primary:#1b1f24;
  --primary:#12bdff;
  --primary-hover:#0c8ec2;
}



* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

header {
  background-color:var(--dark-primary);
  padding:20px;
  color: #fff;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

 header ul {
  display: flex;
  list-style: none;
}

 header ul li {
  margin-right: 20px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:600;

}

/* headers buttons  */


header  .logo {
  font-weight: bold;
  color: var(--primary);
  letter-spacing: 2px;
  font-style: italic;
 


}


/* buttons0 */
.btn {
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;;
}


.btn.btn-primary{

  background-color: var(--primary);
  font-weight: 600;
  color: var(--dark-primary);
   
}

.btn.btn-primary:hover{
  background-color:var(--primary-hover)
}
.hero-buttons button {
  margin-right: 10px;
}

.btn-dark-outlined {
   background-color: var(--dark-primary);
  border: 1px solid var(--primary);
  color:var(--primary);
  border-radius: 5px;
  font-weight: 600;
  
}



header ul li a:hover {
  color:var(--primary)
}



.btn-dark-outlined:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
}

/* logo */

/* section hero home page  */
section.hero-section {
  background-color:var(--dark-primary);
  color: #fff;
  display: flex;
  align-items:center ;
  padding: 20px 120px 0 240px;
}

.hero-section__title {
  font-size: 54px;
  font-weight: 900;

  
}

.hero-section__title > span {
  color: var(--primary);
}



.hero-section--desc {
  color: azure;
}

.social-icons {
  margin: 20px 0'
}

.social-icons li {
  margin-right: 10px;
}
ul.social-icons {
  list-style: none;
  display: flex;
}


.social-icons li > a {
  text-decoration: none;
  color: #fff;
}

.social-icons li a > i.fa-facebook:hover {
  color: #1877f2 ;
}
.social-icons li a > i.fa-linkedin:hover {
  color: #0077B5 ;
}

.social-icons li a > i.fa-instagram:hover {
  color: #feda75 ;
}

.social-icons li a > i.fa-twitter:hover {
  color: #00acee ;
}





/* about me  */


.about-section {
  background-color:#22282f;
  color: #fff;
  padding:60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section img {
  width:350px;
  border-radius: 10px;
  border: 3px solid var(--primary);
   margin-top: 30px;
   box-shadow: 3px 5px 40px #03506e;
    

  

}

.about-section--desc {
  /* box model example  */
  margin-left: 100px;
  max-width: 450px;

}

.about-section--desc  h4{
  font-size: 30px;
  font-weight: 900;
}

.about-section--desc h4 > span {
  color: var(--primary);
}

.about-section--desc ul {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}


.about-section--desc li{
  margin-bottom: 10px;
  color: grey;
}

.about-section--desc li > strong {
  color:#fff;
}

.about-section--desc li > a {
  text-decoration: none;
  color: grey;

}
.about-section--desc li > a:hover {
  color: var(--primary);
}